@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');


hr{
  color:cadetblue;
  width: 2px;
}

body {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.alumni-sans-sc{
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;

}
.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.snowflake {
  position: fixed;
  color: white;
  font-size: 12px;
  pointer-events: none;
  animation: fall 2s linear forwards;
  z-index: 1000;
}

@keyframes fall {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(100px) scale(0.5);
  }
}


.context-title{
  color:cadetblue !important;
}

.context-subtitle{
  color:cornflowerblue;
}

.section-spacing{
  margin-top: 200px !important;
  margin-bottom: 200px !important;
}

.circle-spacing{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.education-item{
  margin-top: 150px;
  margin-bottom: 150px;
}

.circular-progress{
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: conic-gradient(rgb(186, 248, 248), 3.6deg, #ededed 0deg);  
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::before{
  content: "";
  position:absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}

.progress-value{
  position: relative;
  font-size: 50px;
  font-weight: 600;
  color: rgb(186, 248, 248);
}

.progress-name{
  position: relative;

}