@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');




.dropzone{
  
}

body {
    background-color: black;
    color: aliceblue;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.alumni-sans-sc{
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;

}
.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.snowflake {
  position: fixed;
  color: white;
  font-size: 12px;
  pointer-events: none;
  animation: fall 2s linear forwards;
  z-index: 1000;
}

@keyframes fall {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(100px) scale(0.5);
  }
}

.circle {
  position: relative !important;
  justify-content: center !important;
  align-content: center !important;
  width: 200px;
  height:200px;
  border-radius:50%;
}

.circle::before{
  content: '';
  position:absolute;
  inset: 5px;
  border-radius:50%;
  background: #222;
  opacity: 0.8;
}

.circle::after{
  content: '';
  position:absolute;
  width: 120px;
  height: 120px;
  background: #333;
  border-radius:50%;
  margin-left: 2.5em;
  
}

.circle .number,
.circle h4{
  text-align: center;
  position: relative;
  color: #fff;
  z-index: 10;
  line-height: 1em;
  font-size: 1.5em;
}

.context-title{
  color:cadetblue !important;
}

.context-subtitle{
  color:cornflowerblue;
}

.section-spacing{
  margin-top: 200px !important;
  margin-bottom: 200px !important;
}

.circle-spacing{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.education-item{
  margin-top: 150px;
  margin-bottom: 150px;
}